/* Center page */
.auth-page {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f6f7fb;
  padding: 20px;
}

html, body {
  height: 100%;
  background: #f6f7fb !important;
  margin: 0;
  padding: 0;
}


/* Card */
.auth-card {
  width: 380px;
  background: #fff;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0,0,0,0.08);
  animation: fadeIn 0.4s ease-in-out;
}

.auth-title {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 20px;
  text-align: center;
}

.auth-card input {
  height: 45px;
  font-size: 15px;
}

.auth-btn {
  margin-top: 10px;
  height: 45px;
  font-size: 16px;
  font-weight: 500;
}

.auth-bottom-text {
  margin-top: 15px;
  text-align: center;
  font-size: 14px;
}

.auth-bottom-text a {
  font-weight: 600;
  text-decoration: none;
}

/* Animation */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
